.navbar-brand {
  margin-right: 3rem;
  padding-top: unset;
  padding-bottom: unset;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
  }
}

/* Navmenu hover effect */

.navbar {
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 10px;
  color: hsl(219, 9%, 45%) !important;
  transition: color 0.2s ease;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 0%;
  height: 4px;

  background-color: hsl(26, 100%, 55%);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: hsl(220, 13%, 13%) !important;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

/* Cart Styles */

.cart-wrapper {
  position: relative;
  display: inline-block;
}

.cart-wrapper .dropdown-menu {
  display: none;
  position: absolute;
  /* right: 0;
  top: 120%; */
  right: -120px;
  top: 190%;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: unset;
  padding: 1.5rem 0;
}
.dropdown-divider {
  color: hsl(220, 14%, 75%);
}

.cart-wrapper:hover .dropdown-menu {
  display: block;
}

.cart-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
