.navbar-brand {
  padding-top: unset;
  padding-bottom: unset;
  @media (min-width: 992px) {
    margin-right: 3rem;
  }
}

/* Mobile menu styles */

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%; /* hidden by default */
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  padding: 1rem;
  z-index: 1050;
}
.mobile-menu .navbar-nav .nav-link {
  color: hsl(0, 0%, 0%) !important;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.mobile-menu.open {
  left: 0; /* slide in */
}

.mobile-menu .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 1rem;
  color: hsl(219, 9%, 45%);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 0.5rem !important;
  }

  .navbar {
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}

/* Navmenu hover effect */

/* 
@media (min-width: 992px) {
 .navbar {
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
} */

/* .nav-link {
  align-items: center;
  display: flex;
  padding: 1.5rem 1rem !important;
} */

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
.navbar-nav .nav-link {
  position: relative;
  /* padding-bottom: 10px; */
   padding-bottom: 1px;
  color: hsl(219, 9%, 45%) !important;
  transition: color 0.2s ease;
  /* opacity: 0.5;
    font-weight: 600; */
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 0%;
  height: 4px;

  background-color: hsl(26, 100%, 55%);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: hsl(220, 13%, 13%) !important;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

/* Navbar Toggler */
.navbar-toggler {
  padding: 0.25rem 0rem;
  font-size: 1.75rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: unset;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

/* Cart Styles */

.cart-wrapper {
  position: relative;
  display: inline-block;
}

.cart-wrapper .dropdown-menu {
  display: none;
  position: absolute;
  /* right: 0;
  top: 120%; */
  right: -53px;
  /* right: 0; */
  top: 300%;
  min-width: 10rem;
  min-height: 200px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: unset;
  padding: 1.5rem 0rem;
  max-width: calc(100vw - 53px);
  @media (min-width: 992px) {
    top: 190%;
    right: -120px;
  }
}
.dropdown-divider {
  color: hsl(220, 14%, 75%);
  margin: 1rem 0;
}

.cart-wrapper .dropdown-menu {
  display: none;
}
.cart-wrapper.open .dropdown-menu {
  display: block;
}
/* .cart-wrapper:hover .dropdown-menu {
  display: block;
} */

.dropdown-item {
  padding: 0.25rem 1.5rem;
}
.dropdown-item:focus,
.dropdown-item:hover {
  /* color: #1e2125; */
  background-color: unset;
}

.cart-icon {
  width: 20px;
  height: 20px;
  /* object-fit: cover; */
  cursor: pointer;
  object-fit: contain;
  filter: brightness(0);
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  &:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
  }
}

.cart-wrapper {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -4px;
  right: -8px;
  background: hsl(26, 100%, 55%);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 50%;
  line-height: 1;
  z-index: 1;
}
