.add-to-cart-btn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 15px 70px;
  border: none;
  font-weight: 700;
}



 .qty-box {
  display: flex;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 15px 30px;
  border-radius: 10px;
  gap: 20px;
 
}

.qty-btn {
  cursor: pointer;
}

.qty-box input {
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.qty-box input:focus {
  outline: none;
}

.qty-btn:active {
  filter: brightness(0) saturate(100%) invert(51%) sepia(93%) saturate(2000%) hue-rotate(350deg);
}

.cart-icon {
  with: 16px;
  height: 16px;
  object-fit: contain;
  filter: brightness(0);
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "Kumbh Sans", sans-serif;
  @media (min-width: 768px) {
    font-size: 50px;
  }
}

p {
  font-size: 14px;
  color: hsl(219, 9%, 45%);

  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.price-section {
  margin: 25px 0;
}

.sub-title {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
}

.current-price {
  font-size: 24px;
  font-weight: 700;
}

.discount {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.original-price {
  text-decoration: line-through;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
