
@media(min-width:768px){
  .product-page{
  margin-top: 80px;
}
}
.add-to-cart-btn {
  display: inline-block;
   line-height: 1.5;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 15px 70px;
  border: none;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
   vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;

  /* transition: all 0.3s ease; */
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  &:hover {
    background-color: hsla(26, 100%, 66%);
   
     color: hsl(0, 0%, 0%);
  }
  @media (min-width: 992px) {
   width: auto;
  }
}



 .qty-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  padding: 15px 30px;
  border-radius: 10px;
  gap: 20px;
   width: 100%;
  @media (min-width: 992px) {
   width: auto;
  }
 
}

/*Hide default spinner controls Voor Chrome, Safari, Edge (WebKit-gebaseerde browsers) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Hide default spinner controls Voor Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.qty-btn {
  cursor: pointer;
}

.qty-box input {
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.qty-box input:focus {
  outline: none;
}

.qty-btn:active {
  invert(63%) sepia(69%) saturate(2400%) hue-rotate(340deg) brightness(129%) contrast(106%);
}

.cart_icon {
  object-fit: contain;
  filter: brightness(0);
   width: 22px;
  height: 22px;
  cursor: pointer;
}



.price-section {
  margin: 25px 0;
}

.sub-title {
  /* color: hsl(219, 9%, 45%); */
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
   color: hsl(219deg 10.38% 53.91%);
    opacity: .75;
    font-size:16px;
    letter-spacing: 0.9px;
}

.current-price {
  font-size: 24px;
  font-weight: 700;
}

.discount {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.original-price {
  text-decoration: line-through;
   text-decoration-color:hsl(220, 14%, 75%); 
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  font-size: 18px;
}


/* Swiper */




/* ----- Main Gallery on Page ----- */
.gallery-container {
  /* max-width: 400px; */
  margin: auto;

.swiper-button-next {
   right:17px !important;
}
.swiper-button-prev {
   left:17px !important;
}


 
}

/* Mobile (sm) - full width */
@media (max-width: 766px) {
  .main-gallery {
    width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  .main-gallery img {
    width: 100%;
    border-radius: 0;
  }
}



@media (min-width: 768px) {
 .main-gallery img,
 .thumb-gallery img {
  width: 100%;
  border-radius: 10px;
}

}
/* .main-gallery img, 
.thumb-gallery img {
  width: 100%;
  border-radius: 10px;
} */

.thumb-gallery {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.thumb-gallery .swiper-slide {
  width: 86.5px !important;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
   margin-right: 22px !important;
}

.thumb-gallery .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid hsl(26, 100%, 55%);
   border-radius: 10px;
}

/* ----- Lightbox ----- */
.lightbox-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox {
  position: relative;
  max-width: 600px;
  width: 90%;
  padding: 20px 20px;
  border-radius: 15px;
    @media(min-width:768px){
     width: 50%;
  }
   @media(min-width:992px){
     width: 37%;
       padding: 22px 20px;
  }
  @media(min-width:1440px){
     width: 30%;
      padding: 27px 20px;
  }
}

.thumbSwiperLightbox{
  margin-top: 30px;
}

.lightbox .close-btn {
  position: absolute;
  top: -33px; 
  right: 15px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
  z-index: 10000;
  &:hover, &:focus {
    color: hsl(26, 100%, 55%);
  }
}

/* Swiper in Lightbox */
.mainSwiperLightbox img,
.thumbSwiperLightbox img {
  width: 100%;
  border-radius: 10px;
}

.lightbox-overlay {
  .swiper-button-next {
   right:-2px !important;
}
.swiper-button-prev {
   left:-3px !important;
}

}



.thumbSwiperLightbox .swiper-slide {
  width: 70px;
  opacity: 0.4;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  @media(min-width:768px){
    height: 70px;
  }
}

.thumbSwiperLightbox .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid hsl(26, 100%, 55%);
}

.swiper-button-next img,
.swiper-button-prev img {
    width: 21px;
    height: 13px;
    object-fit: contain;
    &:hover, &:focus {
      /* filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(7493%) hue-rotate(356deg) brightness(103%) contrast(101%); */
      filter: brightness(0) saturate(141%) invert(75%) sepia(101%) saturate(7510%) hue-rotate(356deg) brightness(130%) contrast(143%);
    }
}

.swiper-button-next, 
.swiper-button-prev  {
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}





.swiper-button-next,
.swiper-button-prev {
  /* top: 50%; */
  /* transform: translateY(-50%); */
   height: 40px !important;
    width: 40px !important;
}

.swiper-button-next, .swiper-button-prev {
    svg {
       display: none;
    }
}


/* Carts details */

.cart-thumb {
  width: 50px;
  border-radius: 6px;
}

.cart-details {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}

.cart-name {
  white-space: wrap;
  /* overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px; */
  @media(min-width:992px){
   white-space: nowrap;
  }
}

.cart-price strong {
  color: hsl(220, 13%, 13%);
  margin-left: 5px;
}

.cart-delete {
  background: none;
  border: none;
  cursor: pointer;
}