
@media(min-width:768px){
  .product-page{
  margin-top: 80px;
}
}
.add-to-cart-btn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 15px 70px;
  border: none;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: hsla(26, 100%, 66%);
   
     color: hsl(0, 0%, 0%);
  }
  @media (min-width: 992px) {
   width: auto;
  }
}



 .qty-box {
  display: flex;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 15px 30px;
  border-radius: 10px;
  gap: 20px;
   width: 100%;
  @media (min-width: 992px) {
   width: auto;
  }
 
}

.qty-btn {
  cursor: pointer;
}

.qty-box input {
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.qty-box input:focus {
  outline: none;
}

.qty-btn:active {
  invert(63%) sepia(69%) saturate(2400%) hue-rotate(340deg) brightness(129%) contrast(106%);
}

.cart-icon {
 
  object-fit: contain;
  filter: brightness(0);
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 25px;
  margin-top: 10px;
  font-family: "Kumbh Sans", sans-serif;
  @media (min-width: 768px) {
    font-size: 50px;
  }
}

p {
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  opacity: .8;
    font-weight: 500;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.price-section {
  margin: 25px 0;
}

.sub-title {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
}

.current-price {
  font-size: 24px;
  font-weight: 700;
}

.discount {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.original-price {
  text-decoration: line-through;
   text-decoration-color:hsl(220, 14%, 75%); 
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  font-size: 18px;
}


/* Swiper */




/* ----- Main Gallery on Page ----- */
.gallery-container {
  /* max-width: 400px; */
  margin: auto;
 
}

/* Mobile (sm) - full width */
@media (max-width: 766px) {
  .main-gallery {
    width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  .main-gallery img {
    width: 100%;
    border-radius: 0;
  }
}



@media (min-width: 768px) {
 .main-gallery img, 
.thumb-gallery img {
  width: 100%;
  border-radius: 10px;
}
}
/* .main-gallery img, 
.thumb-gallery img {
  width: 100%;
  border-radius: 10px;
} */

.thumb-gallery {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.thumb-gallery .swiper-slide {
  width: 70px;
  height: 70px;
  opacity: 0.4;
  cursor: pointer;
}

.thumb-gallery .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid hsl(26, 100%, 55%);
}

/* ----- Lightbox ----- */
.lightbox-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox {
  position: relative;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
}

.thumbSwiperLightbox{
  margin-top: 30px;
}

.lightbox .close-btn {
  position: absolute;
  top: -33px; 
  right: 15px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
  z-index: 10000;
  &:hover, &:focus {
    color: hsl(26, 100%, 55%);
  }
}

/* Swiper in Lightbox */
.mainSwiperLightbox img,
.thumbSwiperLightbox img {
  width: 100%;
  border-radius: 10px;
}

.thumbSwiperLightbox .swiper-slide {
  width: 70px;

  opacity: 0.4;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  @media(min-width:768px){

    height: 70px;
  }
}

.thumbSwiperLightbox .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid hsl(26, 100%, 55%);
}

.swiper-button-next img,
.swiper-button-prev img {
     width: 20px;
    height: 18px;
    object-fit: contain;
    &:hover, &:focus {
      filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(7493%) hue-rotate(356deg) brightness(103%) contrast(101%);
    }
}

.swiper-button-next, 
.swiper-button-prev  {
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.swiper-button-next {
   
   
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next, .swiper-button-prev {
    svg {
       display: none;
    }
}


/* Carts details */

.cart-thumb {
  width: 50px;
  border-radius: 6px;
}

.cart-details {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}

.cart-name {
  white-space: wrap;
  /* overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px; */
  @media(min-width:992px){
   white-space: nowrap;
  }
}

.cart-price strong {
  color: hsl(220, 13%, 13%);
  margin-left: 5px;
}

.cart-delete {
  background: none;
  border: none;
  cursor: pointer;
}