@import url("header.css");

@import url("product-pagina.css");
@import url("product.css");
@import url("check-out.css");
@import url("login.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  /* background-color:hsl(0, 0%, 100%); */
  background-color: hsl(25, 100%, 94%);

  :root {
    --primary-orange: hsl(26, 100%, 55%);
    --primary-orange-light: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --grayish-blue: hsl(219, 9%, 45%);
    --light-grayish-blue: hsl(220, 14%, 75%);
    --very-light-gray: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --overlay-color: hsl(0, 0%, 0%); /* Black with 75% opacity */
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Kumbh Sans", sans-serif;
    @media (min-width: 768px) {
      font-size: 50px;
    }
  }

  p {
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    line-height: 1.5;
    font-family: "Kumbh Sans", sans-serif;
    opacity: 0.8;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  h5 {
   font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: hsl(220, 13%, 13%);
    /* margin-bottom: 25px; */
    margin-top: 10px;
    font-family: "Kumbh Sans", sans-serif;
    /* @media (min-width: 768px) {
      font-size: 20px;
    } */
  }
}
